@model CheeseMVC.ViewModels.AddCategoryViewModel


&nbsp;&nbsp;&nbsp;
<form asp-controller="Category" asp-action="Add">
    <label asp-for="Name">
        <input asp-for="Name" />
    </label>
    <span asp-validation-for="Name"></span>
    &nbsp;
    <button type="submit">Add</button>
</form>